body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-color: #faf7ff;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    color: #7b4ba8; /* lilas foncé */
}

h2 {
    color: #8e63bb;
    border-bottom: 2px solid #d9c7ef;
    padding-bottom: 5px;
}

a {
    color: #9370DB; /* lilas */
    
}

p {
    line-height: 1.5; /* 1.5 fois la hauteur de la ligne par défaut */
}

li {
    line-height: 1.5; /* 1.5 fois la hauteur de la ligne par défaut */
}

.subtitle {
    font-size: 18px;
    color: #b189d6;
}

nav {
    text-align: center;
    margin-bottom: 40px;
}

nav a {
    margin: 0 15px;
    color: #7b4ba8;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

#toc a {
    color: #333; /* ou #800080 pour un lilas plus précis */
    text-decoration: none; /* optionnel, pour enlever le souligné */
}


section {
    margin-bottom: 40px;
}

.portfolio .project {
    margin-bottom: 40px;
}

.project img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin-top: 10px;
    border: 3px solid #e8dbf8;
}
.project1 img {
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    margin-top: 10px;
    border: 3px solid #e8dbf8;
}

.project2 img {
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    margin-top: 10px;
    border: 3px solid #e8dbf8;
}

.project3 img {
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    margin-top: 10px;
    border: 3px solid #e8dbf8;
}



footer {
    text-align: center;
    margin-top: 40px;
    color: #7b4ba8;
}

ul.tirets {
    list-style-type: none;   /* on supprime les puces */
    padding-left: 0;
}

ul.tirets li {
    position: relative;
    padding-left: 1em;      /* espace pour le tiret */
}

ul.tirets li::before {
    content: "–";            /* le tiret à gauche */
    position: absolute;
    left: 0;
    color: #8e63bb;          /* lilas si tu veux */
}



.photo-cv {
    width: 180px;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    border: 3px solid #e8dbf8; /* joli contour lilas */
}



ul.cercles {
    list-style-type: none;   /* on supprime les puces */
    padding-left: 0;
}

ul.cercles li {
    position: relative;
    padding-left: 1em;      /* espace pour le tiret */
}

ul.cercles li::before {
    content: "‣";            /* le tiret à gauche */
    position: absolute;
    left: 0;
    color: #8e63bb;          /* lilas si tu veux */
}
